<!DOCTYPE HTML>
<html>
<head>
    <title>Automatic Waffle API</title>
</head>
<body>
    <h1>Automatic Waffle API Endpoints</h1>
    <h2>/players Route</h2>
    <div>
        <h3>GET</h3>
        <p>Return all players documents</p>
        <a href='players'>example</a>
        <h3>GET /playerID</h3>
        <p>Return player document (corresponding to playerID)</p>
        <a href='player/testPlayerID'>example</a>
    </div>
    <h2>/games Route</h2>
    <div>
        <h3>GET</h3>
        <p>Return all gameInfo documents</p>
        <a href='games'>example</a>
        <h3>GET /gameID</h3>
        <p>Return gameInfo document (corresponding to gameID)</p>
        <a href='game/testGameID'>example</a>
    </div>
</body>
</html>
